{% extends "index.html" %}

{% block weather %}
    <h1 class="place">{{ title }}</h1>
    <form action="/bookmarks" method="post">
        <input type="hidden" name="form_id" value="form1">
        <input type="hidden" name="place" value="{{ place }}">
        <input type="hidden" name="display" value="{{ display }}">
        <input type="hidden" name="lat" value="{{ lat }}">
        <input type="hidden" name="lon" value="{{ lon }}">
        <button class="btn btn-primary" type="submit">Bookmark</button>
    </form>
    <div class="scrollable">
        {% for day_index in range(7) %}
            <table class="table">
                <tr>
                    <th>{{ days[day_index] }}</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    {% for time in range(0, 24) %}
                        <th scope="col">{{ times[time][11:] }}</th>
                    {% endfor %}
                </tr>
                {% set start_hour = day_index * 24 %}
                {% set end_hour = (day_index + 1) * 24 %}
                <tr>
                    <th scope="row">Weather</th>
                    {% for weather in range(start_hour, end_hour) %}
                        {% if code[weather] in [0, 1] %}
                            <td><img src="../static/clear_sky_day.png" alt="clear"></td>
                        {% elif code[weather] == 2 %}
                            <td><img src="../static/partial_cloud_day.png" alt="partial cloud"></td>
                        {% elif code[weather] == 3 %}
                            <td><img src="../static/cloudy_day.png" alt="cloudy"></td>
                        {% elif code[weather] in [45, 48] %}
                            <td><img src="../static/foggy.png"></td>
                        {% elif code[weather] in [51, 53, 55, 61, 63, 65, 80, 81, 82] %}
                            <td><img src="../static/rain.png" alt="rain"></td>
                        {% elif code[weather] in [56, 57, 66,67] %}
                            <td><img src="../static/cold_rain.png" alt="cold rain"></td>
                        {% elif code[weather] in [71, 73, 75, 77, 85, 86] %}
                            <td><img src="../static/snow.png" alt="snow"></td>
                        {% elif code[weather] in [95, 96, 99] %}
                            <td><img src="../static/thunder.png" alt="thunder"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Chance of Precipitaion</th>
                    {% for chance in range(start_hour, end_hour) %}
                        <td>{{ forecast["hourly"]["precipitation_probability"][chance] }}%</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Temperature (°C)</th>
                    {% for temp in range(start_hour, end_hour) %}
                        <td>{{ forecast["hourly"]["temperature_2m"][temp] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Feels like (°C)</th>
                    {% for temp in range(start_hour, end_hour) %}
                        <td>{{ forecast["hourly"]["apparent_temperature"][temp] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Wind Speed (mph)</th>
                    {% for speed in range(start_hour, end_hour) %}
                        <td>{{ forecast["hourly"]["wind_speed_10m"][speed] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Humidity</th>
                    {% for humidity in range(start_hour, end_hour) %}
                        <td>{{ forecast["hourly"]["wind_speed_10m"][humidity] }}%</td>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
    </div>
    <div class="scrollable" id="bottom-div">
        <table class="table">
            <tr>
                <th>Week</th>
            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col">Weather</th>
                <th scope="col">Min Temp (°C)</th>
                <th scope="col">Max Temp (°C)</th>
                <th scope="col">Sunrise</th>
                <th scope="col">Sunset</th>
                <th scope="col">Sunlight Duration (hours)</th>
            </tr>
            {% for i in range(0, 7) %}
                <tr>
                    <th scope="row">{{ days[i] }}</th>
                    {% if forecast["daily"]["weather_code"][i] in [0, 1] %}
                        <td><img src="../static/clear_sky_day.png" alt="clear"></td>
                    {% elif forecast["daily"]["weather_code"][i] == 2 %}
                        <td><img src="../static/partial_cloud_day.png" alt="partial cloud"></td>
                    {% elif forecast["daily"]["weather_code"][i] == 3 %}
                        <td><img src="../static/cloudy_day.png" alt="cloudy"></td>
                    {% elif forecast["daily"]["weather_code"][i] in [45, 48] %}
                        <td><img src="../static/foggy.png"></td>
                    {% elif forecast["daily"]["weather_code"][i] in [51, 53, 55, 61, 63, 65, 80, 81, 82] %}
                        <td><img src="../static/rain.png" alt="rain"></td>
                    {% elif forecast["daily"]["weather_code"][i] in [56, 57, 66,67] %}
                        <td><img src="../static/cold_rain.png" alt="cold rain"></td>
                    {% elif forecast["daily"]["weather_code"][i] in [71, 73, 75, 77, 85, 86] %}
                        <td><img src="../static/snow.png" alt="snow"></td>
                    {% elif forecast["daily"]["weather_code"][i] in [95, 96, 99] %}
                        <td><img src="../static/thunder.png" alt="thunder"></td>
                    {% endif %}
                    <td>{{ forecast["daily"]["temperature_2m_min"][i] }}</td>
                    <td>{{ forecast["daily"]["temperature_2m_max"][i] }}</td>
                    <td>{{ forecast["daily"]["sunrise"][i][11:] }}</td>
                    <td>{{ forecast["daily"]["sunset"][i][11:] }}</td>
                    <td>{{ durations[i] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}